html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-header {
    background-color: #444;
    padding: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: flex; /* Utilisez flexbox pour aligner les éléments du header */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Espacement entre les éléments, aide à mettre le score à droite */
}

.header-title {
    margin: 0;
    color: #f0f0f0;
    font-size: 20px;
}

.score-display {
    color: #f0f0f0;
    font-size: 20px;
}



.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-image: url('../../public/96po75b3dcr21.png'); */
    /*background-image: url("1205458.jpg");*/
    background-color: #222;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.title {
    font-size: 4em; /* Taille ajustée */
    color: #4caf50;
    margin-bottom: 20px;
    font-family: 'Tetris', sans-serif; /* Assurez-vous que cette police est chargée */
}

.home-form {
    margin-top: 99px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.input-field {
    background-color: #222;
    color: #4caf50;
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #333;
    border-radius: 5px;
}

.home-button {
    background-color: #333;
    border: 1px solid #4caf50;
    color: white;
    padding: 5px 5px; /* Ajustez le padding si nécessaire */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    width: 300px; /* Largeur fixe pour tous les boutons */
    height: 40px; /* Hauteur fixe pour tous les boutons */
    margin: 1px 0; /* Espacement entre les boutons */
    display: block; /* Assure que les boutons prennent toute la largeur disponible */
}

.home-button:hover {
    background-color: #4caf50;
    color: black;
}

.error-message {
    color: #ff526f;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 31px;
    width: 260px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 1px solid #ff3860;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
