/* TetrisGame.css */
.tetris-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-player, .side-player {
    margin: 10px;
}

.tetris-row {
    display: flex;
}

.tetris-cell {
    width: 35px; /* Taille pour le joueur principal */
    height: 35px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.tetris-cell.small {
    width: 20px; /* Taille réduite pour les joueurs sur les côtés */
    height: 20px;
}

.tetris-cell.filled {
    background-color: blue; /* ou toute autre couleur visible */
}

.playerInformationGame {
    font-size: 24px; /* Taille de la police */
    color: #333; /* Couleur de la police */
    text-align: center; /* Centrer le texte */
    margin: 0 0 10px; /* Marge en bas pour espacer du reste */
    font-weight: bold; /* Rendre le texte en gras */
    text-transform: uppercase; /* Mettre le texte en majuscules pour plus d'impact */
    letter-spacing: 1px; /* Espacer légèrement les lettres */
}